:root {
  --font-heading: 'Roboto Slab', Helvetica, Arial, serif; /* heading font */
  --font-text: 'Lato', Helvetica, Arial, sans-serif; /* body font */
}

@font-face { font-family: 'Lato'; font-style: normal; font-weight: 400;  src: url( Lato-Regular.ttf) format( 'ttf' ); }
@font-face { font-family: "Roboto Slab", serif; font-optical-sizing: auto; font-weight: 700; font-style: normal; src: url(RobotoSlab-Bold.ttf) format( 'ttf' ); }