@use '../util' as u;

.workshop {

  &__connect {
    background-color: var(--darkBlue);
    width: 100%;
    padding: 0;
    margin-bottom: u.rem(64);
  }

  &__notice {
    display: flex;
    flex-direction: row;

    @include u.breakpoint-down(small) {
      flex-direction: column;
    }


    img {
      display: inline-block;
      max-width: 100%;
      margin: 60px 0 70px;
    }

  }

  &__branding {
    text-align: center;
    width: 100%;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;

    @include u.breakpoint-down(small) {
      align-items: center;
      padding-bottom: u.rem(48);
    }
    

    h3 {
      font-family: var(--font-text);
      font-weight: 500;
      font-size: u.rem(28);
      line-height: 1.5;
      color: var(--white);
      margin-bottom: 24px;
    }
  }
  
}

// .intro {

//   &__img {

//     &--lg {
//       border: 5px solid var(--darkBlue);
//       margin-bottom: u.rem(48);
//       overflow: hidden;

//       @include u.breakpoint-down(small) {
//         margin-inline:  0;
//         width: 100%;
//       }

//       img {

//         @include u.breakpoint-down(small) {
//           object-fit: cover;
//           -o-object-fit: cover;
//           position: relative;
//           transform: translateX(-50%);
//           left: 50%;
//           overflow: hidden;
//       }
//       }
//     }
//   }
// }

// .artists {

//   &__feature {
//     margin-bottom: u.rem(64);

//     &--lg {
//       margin: 0 0 u.rem(48) 0;
//       width: 100%;
  
//       @include u.breakpoint-down(small) {
//         margin-inline:  0;
//         width: 100%;
//     }

//       img {
//         object-fit: cover;
//         -o-object-fit: cover;
//         position: relative;
//         transform: translateX(-50%);
//         left: 50%;
//         overflow: hidden;

//         @include u.breakpoint-down(small) {
//           object-fit: cover;
//           -o-object-fit: cover;
//           position: relative;
//           transform: translateX(-50%);
//           left: 50%;
//           overflow: hidden;
//         }
//       }
//     }
//   }
// }

.heading {

  &__wrapper {
    // width: min(100% - u.rem(48), u.rem(800));
    margin-inline: auto;
    padding: u.rem(32) 0 u.rem(24);
    margin: 0;

    @include u.breakpoint-down(small) {
      margin-inline: 0;
      width: 100%;
    }
  }
}

.featureImg {
  max-width: 100%;
  height: auto;
  // border: 5px solid var(--darkBlue);
  margin-bottom: 16px;

  img {
    height: auto;
    margin-bottom: 16px;
    max-width: 100%;

  }

  @include u.breakpoint-down(small) {
    
  }
}

.featured {
  height: u.rem(276);
  max-height: u.rem(500);
  max-width: u.rem(560);
  overflow: hidden;
  border: 5px solid var(--darkBlue);
  margin-bottom: 10px;

    img {
      filter: brightness(.8);
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: all .3s ease-in-out;
      margin: 0;

      &:hover {
        filter: brightness(1);
        transform: scale(1.1);
      }
    }

}

.features {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-inline: 0;
  margin-bottom: 3rem;
  width: 100%;
}

.feature {

  &__artists {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-inline:  0;
    width: 100%;
    margin-bottom: u.rem(48);

    @include u.breakpoint-down(small) {
      flex-direction: column;
      margin-bottom: u.rem(32);
    }
  }

  &__lg {
    // margin: 0 0 u.rem(48) 0;
    margin: 0;
    overflow: hidden;
    width: 100%;


    @include u.breakpoint-down(small) {
      margin-inline:  0;
      width: 100%;
    }

    img {
      border: 5px solid var(--darkBlue);
      display: block;
      max-width: 100%;
      margin-bottom: 16px;
  
      @include u.breakpoint-down(small) {
        left: 50%;
        object-fit: cover;
        -o-object-fit: cover;
        overflow: hidden;
        position: relative;
        transform: translateX(-50%);
    }
      }
    }

  &__artist {
    
    @include u.breakpoint-down(small) {
      margin-bottom: u.rem(48);
    }
  }

  &__link {
    font-family: var(--font-text);
    color: var(--primaryBlue);
    font-weight: 700;
    font-size: u.rem(18);
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: var(--darkOrange);
      text-decoration: underline;
    }
  }
}

.feature__lastRow {

  @include u.breakpoint-down(small) {
    margin-bottom: 0;
  }
}

// Fade-in animation
.fade-in {
  opacity: 0;
  transition: opacity 350ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.wp-block-image .alignleft {
  float: none;
  margin: 0;
}