@use '../util' as u;

.footer {
  background-color: var(--lightGrey);

  &__wrapper {
    display: flex;
    flex-direction: row;
  }

  &__content {
    display: flex;
    flex-direction: row;
    padding: 24px 20px;

    @include u.breakpoint-down(small) {
      flex-direction: column;
    }
  }

  &__branding {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    max-width: 100%;

    @include u.breakpoint-down(small) {
      margin-bottom: u.rem(20);
      align-items: center;
      justify-content: center;
    }
  }

  &__nav {
    width: 100%;

    @include u.breakpoint-down(small) {
      text-align: center;
    }
  }

  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px;
    padding-bottom: 24px;

    @include u.breakpoint-down(small) {
      flex-direction: column;
      padding-bottom: u.rem(40);
    }
  }

  &__contactInfo {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 80px;

    @include u.breakpoint-down(small) {
      flex-direction: column;
      gap: 0;
    }
  }

  &__info,
  &__connect {

    strong {
      color: var(--darkBlue);
    }
  }

  &__social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: u.rem(16);

    @include u.breakpoint-down(small) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 50%;
      align-items: center;
      margin: 0 auto;
    }
  }

  a {
    color: var(--primaryBlueDark);
    text-decoration: none;
    cursor: pointer;
  
    &:hover {
      color: var(--hoverOrange);
      text-decoration: underline;
    }
  }

  .copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;

    & > p {
      font-size: 14px;
    }
  }
}