@use '../util' as u;

.topnav {
  position: sticky;
  top: 0;

  &,
  &__menu {
    background-color: var(--white);
    z-index: 10;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // padding-block: 12px;
    padding-block: 0;
  }

  &__homelink {
    margin: 8px 0 8px;
    cursor: pointer;

    @include u.breakpoint-down(small) {
      z-index: 100;
      width: 65%;
      margin: 0;
    }
  }

  &__logo {
    // padding: 16px 0;
  }

  &__overlay {

    @include u.breakpoint-down(small) {
      position: fixed;
      inset: 0;
      background-color: var(--menu-overlay);
      opacity: 0;
      transition: opacity ease-in-out;
      pointer-events: none;

      &:has(+ .topnav__open[aria-expanded='true']) {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  &__open,
  &__close {
    background: none;
    padding: 0;
    border: 0;
    cursor: pointer;
  }

  // &__logo {
  //   margin: 16px 0 16px;

  //   @include u.breakpoint-down(small) {
  //     z-index: 100;
  //     width: 65%;
  //     margin: 0;
  //   }
  // }

  &__open {

    @include u.breakpoint(medium) {
      display: none;
    }

    &[aria-expanded='true'] + .topnav__menu {
      translate: 0 0;

      @media (prefers-reduced-motion) {
        opacity: 1;
      }
    }
  }

  &__menu {

    @include u.breakpoint-down(small) {
      position: fixed;
      inset: 0 0 auto 0;
      // padding: 12px 24px 60px;
      padding: 50px 24px 60px;
      border-radius: 0 0 20px 20px;
      box-shadow: 0 12px 12px var(--menu-shadow);
      translate: 0 -110%;
      transition: translate ease-in-out;

      @media (prefers-reduced-motion) {
        translate: 0;
        opacity: 0;
        transition-property: opacity;
      }
    }
  }

  &__close {
    display: none;

    @include u.breakpoint-down(small) {
      display: block;
      margin-inline-start: auto;
      // margin-block-end: 20px;
      margin-block-end: 60px;
    }
  }

  &__links {
    display: flex;
    flex-direction: row;
    gap: 30px;

    @include u.breakpoint(medium) {
      margin-left: 30px;
    }

    @include u.breakpoint-down(small) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__link {
    display: block;
    font-size: u.rem(18);
    line-height: 1;
    font-weight: 400;
    color: var(--primaryBlueDark);
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: var(--hoverOrange);
      text-decoration: underline;
    }
  }
}


.top__bar {
  background-color: var(--primaryBlue);
  width: 100%;
  height: 8px;
  z-index: 12;
  position: relative;
}