@use '../util' as u;

.wrapper {
	width: min(100% - u.rem(0), u.rem(1200));
	margin-inline: auto;
	padding: 0 u.rem(24);
	// padding-block: 60px;

	@include u.breakpoint(large) {
		// padding-block: 60px;
	}
}